@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Doctor</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Doctor Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="DoctorName" required="required" class="form-control col-md-7 col-xs-12" name="DoctorName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                            Speciality <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Speciality" name="Speciality" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    
                    <div class="ln_solid"></div>
                    <input type="hidden" id="ID" name="ID" />
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success" id="btn1">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Doctor List</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action" id="tab1">
                    <tr class="headings">
                        <th class="column-title" width="180px"># </th>
                        <th class="column-title" width="180px">Doctor Name </th>
                        <th class="column-title" width="180px">Speciality </th>
                        
                        <th class="column-title no-link last" width="240px">
                            <span class="nobr">Action</span>
                        </th>
                    </tr>


                </table>
            </div>


        </div>
    </div>
</div>

<script>
    function AddEditRecord(id, doctorName, speciality) {
        $("#DoctorName").val(doctorName);
        $("#Speciality").val(speciality);
        
        $("#ID").val(id);
    }

    function UpdateRecord() {
        var DoctorName = $("#DoctorName").val();
        var Speciality = $("#Speciality").val();
                $.ajax({
            type: "put",
            contentType: "application/json;charset=utf-8",
            url: "/api/DoctorsAPI/" + $("#ID").val(),
            data: JSON.stringify({
                ID: $("#ID").val(),
                Name: $("#DoctorName").val(),
                Speciality: $("#Speciality").val()
                
            }),

            dataType: "JSON",

            success: function (data) {
                $("#tab1").find("tr:gt(0)").remove();
                $.getJSON("/api/DoctorsAPI/", function (data) {
                    $("#tab1").css("display", "block");
                    $.each(data, function (key, val) {
                        $("<tr class='even pointer'><td width='180px'>" + val.ID + "</td><td width='180px'>" + val.DoctorName + "</td><td width='180px'>" + val.Speciality + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.ID + ',"' + val.DoctorName + '","' + val.Speciality + '"' + ");'" + ">Edit</button><button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.ID + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                    })

                })

            }
        });
    }
    //Delete
    function DeleteRecord(ID) {
        $.ajax({

            type: "DELETE",

            contentType: "application/json;charset=utf-8",

            url: "/api/DoctorsAPI/" + ID,

            data: JSON.stringify({
                id: ID,
            }),
            dataType: "JSON",
            success: function (data) {
                $("#tab1").find("tr:gt(0)").remove();
                $.getJSON("/api/DoctorsAPI/", function (data) {
                    $("#tab1").css("display", "block");
                    $.each(data, function (key, val) {
                        $("<tr class='even pointer'><td width='180px'>" + val.ID + "</td><td width='180px'>" + val.DoctorName + "</td><td width='180px'>" + val.Speciality + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.ID + ',"' + val.DoctorName + '","' + val.Speciality + '"' + ");'" + ">Edit</button><button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.ID + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                    })

                })
            }
        });
    }
    $(document).ready(function () {
        $("#tab1").css("display", "none");
        $.getJSON("/api/DoctorsAPI/", function (data) {
            $("#tab1").css("display", "block");
            $.each(data, function (key, val) {
                $("<tr class='even pointer'><td width='180px'>" + val.ID + "</td><td width='180px'>" + val.DoctorName + "</td><td width='180px'>" + val.Speciality + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.ID + ',"' + val.DoctorName + '","' + val.Speciality + '"' + ");'" + ">Edit</button><button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.ID + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));
            });
        })

        //POST
        $("#btn1").click(function () {
            if ($("#ID").val() > 0) {
                UpdateRecord();
            }
            else {
                var DoctorName = $("#DoctorName").val();
                var Speciality = $("#Speciality").val();
                

                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/api/DoctorsAPI/",
                    data: JSON.stringify({
                        DoctorName: $("#DoctorName").val(),
                        Speciality: $("#Speciality").val()
                        
                    }),
                    dataType: "JSON",
                    success: function (data) {
                        $("#ID").val('');
                        $("#tab1").find("tr:gt(0)").remove();
                        $.getJSON("/api/DoctorsAPI/", function (data) {
                            $("#tab1").css("display", "block");
                            $.each(data, function (key, val) {
                                $("<tr class='even pointer'><td width='180px'>" + val.ID + "</td><td width='180px'>" + val.DoctorName + "</td><td width='180px'>" + val.Speciality + "</td><td width='240px'>" + "<button class='btn btn-warning btn-xs' onclick='AddEditRecord(" + val.ID + ',"' + val.DoctorName + '","' + val.Speciality + '"' + ");'" + ">Edit</button><button class='btn btn-danger btn-xs' onclick='DeleteRecord(" + val.ID + ");'" + ">Delete</button>" + "</td></tr>").appendTo($("#tab1"));

                            })

                        })



                    }
                });
            }

        })
    });

</script>
